In [2]:
import yfinance as yf
import pandas as pd

In [3]:
tickers = yf.Tickers('AAPL MSFT GOOGL AMZN META')
data = tickers.history(period='1d', start='2021-1-1', end='2021-12-31')

[*********************100%***********************]  5 of 5 completed

In [7]:
returns = (data['Close'] - data['Close'].shift(21)) / data['Close'].shift(21)
returns = returns.dropna()
returns

Ticker          AAPL      AMZN     GOOGL      META      MSFT
Date
2021-02-03  0.035005  0.039509  0.192772 -0.008515  0.116266
2021-02-04  0.048699  0.034951  0.180213 -0.016533  0.110647
2021-02-05  0.081867  0.068115  0.212406  0.018192  0.141107
2021-02-08  0.047316  0.050845  0.174814 -0.008037  0.110770
2021-02-09  0.031528  0.038427  0.154386  0.007026  0.109963
...              ...       ...       ...       ...       ...
2021-12-23  0.092126 -0.044321  0.007782 -0.005960 -0.008854
2021-12-27  0.113561 -0.052234  0.012226  0.015012  0.013436
2021-12-28  0.143358 -0.026063  0.031677  0.039325  0.035095
2021-12-29  0.119446 -0.049852  0.007727  0.014525  0.015804
2021-12-30  0.078040 -0.038260  0.030325  0.061333  0.026407

[230 rows x 5 columns]

In [9]:
returns.ewm(span=21).mean().iloc[-1]

Ticker
AAPL     0.110652
AMZN    -0.026435
GOOGL    0.000890
META    -0.000445
MSFT     0.007282
Name: 2021-12-30 00:00:00, dtype: float64